# Binary Logistic Regression

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('HR_comma_sep.csv')
data.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [2]:
data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

In [3]:
sal = pd.get_dummies(data['salary'],prefix='sal')
data = pd.concat([data,sal],axis=1)
X = data[['satisfaction_level','average_montly_hours','promotion_last_5years','sal_high', 'sal_low','sal_medium']]
y = data['left']

In [4]:
X.head(5)

,satisfaction_level,average_montly_hours,promotion_last_5years,sal_high,sal_low,sal_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [5]:
y.head(5)

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [6]:
#Model Training using whole data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X,y)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
#Model score
model.score(X,y)

0.7759183945596373

In [12]:
#Model Predict
model.predict(X)

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [9]:
#Model Training with Splitted data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
model = LogisticRegression()
model.fit(X_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
#Model score
model.score(X_test,y_test)

0.7855555555555556

In [11]:
#Model Predict
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)