# Multi Variate Linear Regression

In [1]:
import pandas as pd

#Reading Data from File
df = pd.read_csv('homeprices.csv')
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [2]:
#Fill null
df['bedrooms'].fillna((df['bedrooms'].mean()), inplace=True)

In [3]:
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
#Allocating income to X
X = df.drop('price',axis='columns')
X.head(5)

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8

In [6]:
#Allocating income to y
y = df.price
y.head(5)

0    550000
1    565000
2    610000
3    595000
4    760000
Name: price, dtype: int64

In [7]:
#Model Training
from sklearn.linear_model import LinearRegression

linearregression = LinearRegression()
linearregression.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
#Model score using R^2
linearregression.score(X,y)

0.9540926625396438

In [9]:
#Model intercept
linearregression.intercept_

231586.00639409182

In [10]:
#Model coefficient
linearregression.coef_

array([  116.66950551, 18756.28806982, -3675.75111708])