# Single Variate Linear Regression Model

In [2]:
import pandas as pd

#Reading Data from File
df = pd.read_csv('canada_per_capita_income.csv')
df.head(5)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [3]:
#Renaming Column Name
data = df.rename(columns={"year": "year", "per capita income (US$)": "income"},errors="raise")
data.head(5)

   year       income
0  1970  3399.299037
1  1971  3768.297935
2  1972  4251.175484
3  1973  4804.463248
4  1974  5576.514583

In [11]:
#Allocating year to X
X = data.drop('income',axis='columns')
X.head(5)

   year
0  1970
1  1971
2  1972
3  1973
4  1974

In [7]:
#Allocating income to y
y = data.income
y.head(5)

0    3399.299037
1    3768.297935
2    4251.175484
3    4804.463248
4    5576.514583
Name: income, dtype: float64

In [12]:
#Model Training
from sklearn.linear_model import LinearRegression

linearregression = LinearRegression()
linearregression.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#Model score using R^2
linearregression.score(X,y)

0.890916917957032

In [16]:
#Model intercept
linearregression.intercept_

-1632210.7578554575

In [18]:
#Model coefficient
linearregression.coef_

array([828.46507522])